<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>추가하기!</h2>
    <button><a href="/"></a>to-do list</button>
    <form action="/add" method="post">
        <label for="">기한</label>
        <input type="text" name="date">
        <label for="">해야할 일</label>
        <input type="text" name="work">
        <label for="">메모</label>
        <input type="text" name="memo">
        <button>추가</button>
    </form>
</body>
</html>