<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="post">
        <label for="">id</label>
        <input type="text" name="id" value="<%= data.id %>" disabled>
        <label for="">date</label>
        <input type="text" name="date" value="<%= data.date %>">
        <label for="">work</label>
        <input type="text" name="work" value="<%= data.work %>">
        <label for="">memo</label>
        <input type="text" name="memo" value="<%= data.memo %>">
        <button>수정하기</button>
</body>
</html>