<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>어드민 페이지</h2>
    
    <%  data.forEach((user)=> {%>
        <form action="/admin/<%= user.id %>" method="post">
        <p>유저 이름 : <%= user.name%></p> 
        <button>승인</button>
     </form> 
        <% });%> 
   
</body>
</html>